<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>-->
<!--  <configSections>-->
<!--    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus" />-->
<!--  </configSections>-->
<!--  <rhino.esb>-->
<!--     When using rhino.queus as the underlying transport rhino esb-->
<!--             needs a slightly changed configuration-->
<!--             1. The bus name is now mandatory.-->
<!--             2. Rhino.Queues / Esent doesn't like points in queue names. -->
<!--             3. Client and server need to be set to different ports. -->
<!--    <bus threadCount="1" numberOfRetries="5" endpoint="rhino.queues://localhost:50002/WinClient1" name="winclient1" />-->
<!--    <messages>-->
<!--~1~      <add name="Common.PrivacyResponse" endpoint="rhino.queues://localhost:50001/RhinoEsbTest" />@1@-->
<!--~1~      <add name="Common.PrivacyMessage" endpoint="rhino.queues://localhost:50001/RhinoEsbTest" />@1@-->
<!--      <add name="Common" endpoint="rhino.queues://localhost:50001/RhinoEsbTest" />-->
<!--    </messages>-->
<!--  </rhino.esb>-->
<!--  <startup>-->
<!--    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />-->
<!--  </startup>-->
<!--  <runtime>-->
<!--    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />-->
<!--        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />-->
<!--      </dependentAssembly>-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />-->
<!--        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />-->
<!--      </dependentAssembly>-->
<!--    </assemblyBinding>-->
<!--  </runtime>-->
<!--</configuration>-->